<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="edu.uic.udptransmit"
    version="0.1.0">
    <name>UDP Plugin</name>
    <description>UDP Plugin which supports UDP API</description>
    <license>UIC</license>
    <keywords>UDP</keywords>
	
    <!-- cordova defines the file below with define('<plugin-id>.<name>') -->
    <js-module src="www/datagram.js" name="datagram">
    </js-module>
	
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <!-- This is the name used for service name in cordova.exec -->
            <feature name="UDPTransmit" >
                <!-- This tells cordova which java class to load for this plugin -->
                <param name="android-package" value="edu.uic.udptransmit.UDPTransmit"/>
            </feature>
        </config-file>
		
		<source-file src="src/android/UDPTransmit.java" target-dir="src/edu/uic/udptransmit/" />
    </platform>
	
</plugin>
